<!DOCTYPE html>
<html>

<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/management/stylesheets/style.css">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark shadowme">
		<div class="container-fluid">
		  <div>
			<img src="http://images.restapi.co.za/pvt/Noroff-64.png" alt="" class="navbar-brand" id="spritespin">
		  </div>
		  <div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-3"> 
			  <li class="nav-item">
				<a class="nav-link custom-nav-link" href="http://localhost:8000/product">Product Service</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link custom-nav-link" href="http://localhost:8000/customer">Customer Service</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link custom-nav-link" href="http://localhost:8000/management">Management Service</a>
			  </li>
			</ul>
		  </div>
		</div>
	  </nav>
	</nav>
	<div class="container-fluid">

		<div class="row py-3">
		  <div class="col">
			<h3><i class="bi bi-table"></i> Welcome to Management service</h3>
		  </div>
		</div>
	  
		<div class="panel shadowme">
		  <div class="panel-body">
			<div class="panel d-flex align-items-center mt-0">
			  <div class="panel-heading">
				<h6 class="m-0 align-bottom panel-caption">Query Options</h6>
			  </div>
			</div>
			<div class="card-text">
				<% options.forEach(item => { %>
					<a href="/management/<%= item.link %>" class="query-option"> 
					  <div class="query-option-content">
						<h5><%= item.name %></h5>
						<p class="query-description"><%= item.description %></p>
					  </div>
					</a>
				  <% }) %>
			</div>
		  </div>
		</div>
	  </div>
  </div>
</body>

</html>